<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Band Tracker</h1>
      <hr>
      <h2>@Model.GetName()</h2><hr>
      <h3>@Model.GetContact()<h3>

      <h5><a href="/">Home</a></h5>
      <h5><a href="/add/band">Add Band</a></h5>
      <h5><a href="/add/venue">Add Venue</a></h5>
    </div>
