<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Band Tracker</h1>
      <hr>
      <h2>@Model["band"].GetName()</h2><hr>
      <h3>Contact Info: @Model["band"].GetContact()<h3>
      <h4>Venues Played at:</h4>
      @foreach(var venue in Model["band"].GetVenues())
      {
        <li><a href="/venue/@venue.GetId()">@venue.GetName()</a></li>
      }
      <hr>
      <h4><a href="/add/band/@Model["band"].GetId()/venue">Add this band to a venue</a></h4>
      <hr>
      <form action="/band/@Model["band"].GetId()/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Delete Band</button>
      </form>
      <hr>
      <h5><a href="/add/band">Add/View Bands</a></h5>
      <h5><a href="/add/venue">Add/View Venues</a></h5>
    </div>
