<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Band Tracker</h1>
      <hr>
      <h2>@Model["Venue"].GetName()</h2>
      <h3>Contact Info: @Model["Venue"].GetContact()</h3>
      <h3>Bands that have played here:</h3>
      @foreach(var bands in Model["bandsPlayed"])
      {
        <li><a href="/band/@bands.GetId()">@bands.GetName()</a></li>
      }
      <hr>
      <h4><a href="/add/venue/@Model["Venue"].GetId()/band">Add this venue to a band</a></h4>
      <hr>
    </form>
      <h5><a href="/add/band">Add/View Bands</a></h5>
      <h5><a href="/add/venue">Add/View Venues</a></h5>
  </div>
