<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Band Tracker</h1>
      <h2>Venues</h2><hr>
      @foreach(var venue in Model)
      {
        <li><a href="/venue/@venue.GetId()">@venue.GetName()</a></li>
      }
      <h5><a href="/">Home</a></h5>
      <h5><a href="/add/band">Add Band</a></h5>
      <h5><a href="/add/venue">Add Venue</a></h5>
    </div>
