<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
      <h1>Band Tracker</h1>
      <h2></h2><hr>
      <h3>Current Venues:</h3>
      @foreach(var venue in Model)
      {
        <li><a href="/venue/@venue.GetId()">@venue.GetName()</a></li>
      }
      <hr>
      <h3>Add Venue</h3>
      <form  action="/add/venue" method="post">
        <input type="text" name="venue-name" required placeholder="Venue Name" class="form-control">
        <input type="text" name="contact" required placeholder="Contact Info" class="form-control">
        <button type="submit" name="button" class="btn btn-info">Add Venue</button>
      </form>
      <h5><a href="/add/band">Add/View Bands</a></h5>
    </div>
